Quest#show

<div class="">
  <div class="">
    <div class="">
      <img src="<%= "/user_images/#{@user.image_name}" %>" alt="">
      <%= link_to(@user.name, "/users/#{@user.id}") %>
      <%= @quest.content %>
      <%= @quest.created_at %>
      <%= link_to("編集", "/quests/#{@quest.id}/edit") %>
      <%= link_to("削除", "/quests/#{@quest.id}/destroy", {method:"quest"}) %>
    </div>
  </div>
</div>
