Quest#show

<div class="">
  <div class="">
    <div class="">
      <img src="<%= "/user_images/#{@user.image_name}" %>" alt="">
      <%= link_to(@user.name, "/users/#{@user.id}") %>
      <%= @quest.content %>
      <%= @quest.created_at %>
      <% if @quest.user_id == @current_user.id %>
      <%= link_to("編集", "/quests/#{@quest.id}/edit") %>
      <%= link_to("削除", "/quests/#{@quest.id}/destroy", {method:"quest"}) %>
      <% end %>
      <% if Bookmark.find_by(user_id:@current_user.id, quest_id:@quest.id) %>
      <%= link_to("/bookmarks/#{@quest.id}/destroy", {method: "quest"}) do %>
      <span class="fa fa-heart like-btn-unlike"></span>
      <% end %>
      <% else %>
      <%= link_to("/bookmarks/#{@quest.id}/create", {method: "quest"}) do %>
      <span class="fa fa-heart like-btn"></span>
      <% end %>
      <% end %>
      <%= @Bookmarks_count %>
    </div>
  </div>
</div>
