<!DOCTYPE html>
<html>
  <head>
    <title>GuildDevelopment01</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% current_user = User.find_by(id: session[:user_id]) %>
    <li><%= link_to("ユーザー一覧", "/users/index", class:"link") %></li>
    <li><%= link_to("クエスト作成", "/quests/new", class:"link") %></li>
    <li><%= link_to("クエスト一覧", "/quests/index", class:"link") %></li>
    <li><%= link_to("新規登録", "/signup", class:"link") %></li>
    <li><%= link_to("ログイン", "/login", class:"link") %></li>
    <li><%= link_to(current_user.name, "/users/#{current_user.id}", class:"link") %></li>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
